---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bitwarden
  namespace: external-secrets
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 769
        runAsGroup: 769
        runAsNonRoot: true
    controllers:
      bitwarden:
        containers:
          app:
            image:
              repository: ghcr.io/roxedus/bw
              tag: 2025.9.0@sha256:dbb0a965ddf57c78ab550f262b0fa90bfccd96439af87d659387897596882200
            envFrom:
              - secretRef:
                  name: bitwarden-secret
            securityContext:
              readOnlyRootFilesystem: true
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  periodSeconds: 120
                  exec:
                    command:
                      - sh
                      - -c
                      - /healthcheck.sh
                  timeoutSeconds: 5
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8087
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
