### macOS ###
*.DS_Store

### Vagrant ###
.vagrant/
*.box

### age ###
age.agekey

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Python ###
ansible/.venv

### Ansible ###
ansible/.galaxy_roles

### Terraform ###
terraform/**
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
