### macOS ###
*.DS_Store

### Vagrant ###
.vagrant/
*.box

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Python ###
ansible/.venv

### Ansible ###
ansible/.galaxy_roles
