### macOS ###
*.DS_Store

### Vagrant ###
.vagrant/
*.box

### age ###
age.agekey

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Python ###
ansible/.venv

### Ansible ###
ansible/.galaxy_roles

### Terraform ###
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

### Packer ###
**/packer/.packer_cache/*
**/packer/.packer_plugins/*
**/packer/*.img
**/packer/*.sha256
**/packer/*.xz

### Kics ###
.kics/*
!.kics/config.yml
!.kics/rules.json
