extends: default

ignore: |
  .venv/
  .galaxy_roles/
  .galaxy_collections/
  kubernetes/flux/flux-system/gotk-components.yaml
  kubernetes/flux/flux-system/gotk-sync.yaml
  kubernetes/.sops/*.yaml

rules:
  document-start: disable
  truthy: disable
  comments:
    min-spaces-from-content: 1
  quoted-strings:
    quote-type: double
    required: only-when-needed
  line-length:
    max: 160
