---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app searxng
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      app:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/searxng/searxng
              tag: 2025.12.30-a5c946a32@sha256:1ad4159e74903f8870e3464df701b800a75bd2854f5d11b44ce09ee297f3c158
            command:
              - /usr/local/searxng/.venv/bin/granian
              - searx.webapp:app
            env:
              BASE_URL: https://search.pub.${CLUSTER_DOMAIN}
            envFrom:
              - secretRef:
                  name: searxng-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 8080
                  initialDelaySeconds: 15
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              runAsUser: 977
              runAsGroup: 977
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3Gi
    pod:
      securityContext:
        fsGroup: 977
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    service:
      app:
        controller: app
        ports:
          http:
            port: *port
    persistence:
      config:
        type: configMap
        name: searxng-configmap
        advancedMounts:
          app:
            app:
              - path: /etc/searxng/settings.yml
                subPath: settings.yml
              - path: /etc/searxng/limiter.toml
                subPath: limiter.toml
      tmp:
        type: emptyDir
        advancedMounts:
          app:
            app:
              - path: /etc/searxng
              - path: /tmp
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: pub.${CLUSTER_DOMAIN}
        hosts:
          - host: search.${CLUSTER_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
