---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: metrics-server
  namespace: default
spec:
  interval: 1m0s
  url: https://kubernetes-sigs.github.io/metrics-server/
