name: Check Code health

on:
  push:
  #    paths:
  #      - ansible/**
  #    branches:
  #      - main
  pull_request:
    types: [opened, reopened, edited]
    branches-ignore:
      - renovate/*

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  meta:
    name: Create meta object
    runs-on: ubuntu-latest
    permissions: read-all
    outputs:
      check_files: ${{ steps.vars.outputs.check_files }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_ignore: ansible/requirements.txt,ansible/requirements.yml
          files_ignore_separator: ","

      - name: Create Meta variables
        id: vars
        run: |
          if [[ "${{ steps.changed-files.outputs.all_changed_files }}" == "" ]]; then
            echo "check_files=." >> $GITHUB_OUTPUT
          elif [[ ${GITHUB_REF//refs\/heads\//} =~ ^renovate/.* ]]; then
            echo "check_files=${{ steps.changed-files.outputs.all_changed_files }}" >> $GITHUB_OUTPUT
          else
            echo "check_files=." >> $GITHUB_OUTPUT
          fi

  yaml:
    name: Check YAML files
    runs-on: ubuntu-latest
    needs: [meta]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('ansible/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-yamllint

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.14

      - name: Install linters
        working-directory: ansible/
        run: |
          pip install $(grep wheel requirements.txt)
          pip install $(grep yamllint requirements.txt)

      - name: Lint YAML files
        run: yamllint ${{ needs.meta.outputs.check_files }}

  kics:
    name: Run kics
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      checks: write
      contents: read
      security-events: write
      statuses: write
    needs: [yaml, meta]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run kics Scan
        uses: Checkmarx/kics-github-action@63fca4ca72e56edbb5a599ee756e6af1fdb1e785
        with:
          path: ${{ needs.meta.outputs.check_files }}
          config_path: .kics/config.yml
          ignore_on_exit: results
          output_formats: sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@f67ec12472e1b361f5e1e2085f5e6f85a57e3cd6
        with:
          sarif_file: results.sarif
          category: kics

  ansible-lint:
    name: Run Ansible Lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      checks: write
      contents: read
      security-events: write
      statuses: write
    needs: [yaml, meta]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.14

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('ansible/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-ansible

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        with:
          path: ~/.cache/ansible-compat
          key: ${{ runner.os }}-pip-${{ hashFiles('ansible/requirements.yml') }}
          restore-keys: |
            ${{ runner.os }}-galaxy

      - name: Install Ansible-lint
        working-directory: ansible/
        run: |
          pip install $(grep wheel requirements.txt)
          pip install $(grep ansible requirements.txt)
          pip install $(grep ansible-lint requirements.txt)
          sed -i 's/vault_password_file/#vault_password_file/g' ansible.cfg
          rm requirements.yml

      - name: Run Ansible-Lint
        working-directory: ansible/
        run: ansible-lint -p --nocolor --sarif-file ../ansible.sarif

      - name: Upload SARIF file
        if: "!cancelled()"
        uses: github/codeql-action/upload-sarif@f67ec12472e1b361f5e1e2085f5e6f85a57e3cd6
        with:
          checkout_path: ${{ github.workspace }}/ansible
          sarif_file: ansible.sarif
          category: ansible

  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: actions
            build-mode: none
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Initialize CodeQL
        uses: github/codeql-action/init@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          category: /language:${{matrix.language}}
